* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* ================= */
/* utility */
/* ================= */

/* text */
body {
  background: #121212;
  color: rgba(245, 245, 245, 0.87);
}

/* links */
a {
  color: rgba(11, 127, 171, 1);
  text-decoration: none;
  transition: all 0.3s ease-in-out 0s;
}

h3 a {
  transition: all 0.3s ease-in-out 0s;
}

a:visited,
a:visited {
  color: rgba(11, 127, 171, 1);
}

a:hover,
a:active {
  color: darkorchid;
  transition: all 0.3s ease-in-out 0s;
}

h3 a:hover,
h3 a:active {
  color: darkorchid;
  transition: all 0.3s ease-in-out 0s;
}

.un {
  display: inline-block;
}

.un::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: rgba(245, 245, 245, 0.87);
  transition: 0.3s;
}

.un:hover::after {
  width: 100%;
}

.responsive {
  color: pink;
  display: inline-block;
  transition: font-size 0.3s ease-in-out 0s;
}

.responsive:hover {
  font-size: 0.75rem;
}

.interactive {
  color: pink;
  display: inline-block;
  transition: transform 0.3s ease-in-out 0s;
}

.interactive:hover {
  transform: rotate(180deg);
}

/* ================= */
/* index page */
/* ================= */

/* header */
.index-header {
  display: grid;
  text-align: center;
}

.index-header__nav {
  position: fixed;
  width: 100%;
  background: darkgray;
  border-bottom: 3px solid rgba(245, 245, 245, 0.87);
}

.index-header__nav > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 1em 0 1em 0;
}

.index-header__nav > ul li {
  list-style-type: none;
}

.index-header__title {
  display: grid;
  justify-items: center;
  padding: 20vh 1em 20vh 1em;
  border-bottom: 3px solid rgba(245, 245, 245, 0.87);
}

.index-header__title > p {
  margin: 0 2em 0 2em;
}

.index-header__title > img {
  width: 55vw;
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em 0 1em 0;
}

@media (min-width: 750px) {
  .index-header__title > p {
    margin: 0;
    width: 30vw;
  }
  .index-header__title > img {
    width: 30vw;
  }
}

@media (min-width: 1000px) {
  .index-header__nav > ul {
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1fr;
  }
  .index-header__nav > ul > li:first-of-type {
    grid-column-start: 2;
  }
  .index-header__title > img {
    width: 25vw;
  }
}

/* education */
.education {
  border-bottom: 3px solid rgba(245, 245, 245, 0.87);
}

.education__title {
  text-align: center;
  padding: 1em 0 1em 0;
}

.education__list {
  display: grid;
  text-align: center;
  padding: 0 1em 1em 1em;
  list-style-type: none;
}

.education__list__items {
  margin: 0 0 1em 0;
}

/* courses and training */
.courses-and-training {
  border-bottom: 3px solid rgba(245, 245, 245, 0.87);
}

.courses-and-training__title {
  text-align: center;
  padding: 1em 0 1em 0;
}

.courses-and-training__list {
  display: grid;
  text-align: center;
  padding: 0 1em 1em 1em;
  list-style-type: none;
}

.courses-and-training__list__items {
  margin: 0 0 1em 0;
}

.courses-and-training__list__items h3 a {
  color: rgba(245, 245, 245, 0.87);
}

.courses-and-training__list__items h3 a:visited {
  color: rgba(245, 245, 245, 0.87);
}

.courses-and-training__list__items h3 a:hover,
.courses-and-training__list__items h3 a:active {
  color: darkorchid;
}

@media (min-width: 750px) {
  .courses-and-training__list {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 5em 2em 5em;
    justify-items: center;
  }
  .courses-and-training__list__items {
    margin: 0;
    width: 30vw;
  }
  /* .courses-and-training__list__items:last-child {
        grid-column: 1/3;
    } */
}

/* portfolio */
.portfolio {
  display: grid;
  text-align: center;
  border-bottom: 3px solid rgba(245, 245, 245, 0.87);
}

.portfolio__title {
  margin: 1em 0 1em 0;
}

.portfolio__projects {
  display: grid;
  list-style-type: none;
  margin: 0 1em 1em 1em;
}

.project {
  margin: 0 0 1em 0;
  display: grid;
  grid-template-rows: 1.3rem 1rem 1fr 2rem;
  min-height: 200px;
  gap: 10px;
  border: 3px solid grey;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 15px grey;
}

.btn-view-github {
  display: inline-block;
  width: 125px;
  justify-self: center;
  background: lightgrey;
  border-radius: 10px;
  box-shadow: 1px 1px 5px grey;
  padding: 5px;
  margin-top: 5px;
  transition: all 0.3s ease-in-out 0s;
}

.btn-view-github:visited {
  background: lightgrey;
  color: darkorchid;
  transition: all 0.3s ease-in-out 0s;
}

.btn-view-github:hover,
.btn-view-github:active {
  background: lightskyblue;
  color: darkorchid;
  transition: all 0.3s ease-in-out 0s;
}

@media (min-width: 750px) {
  .portfolio__projects {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    margin: 0 5em 2em 5em;
    justify-items: center;
  }
  .project {
    margin: 0;
    width: 30vw;
  }
}

/* footer */
.footer {
  background: darkgray;
  text-align: center;
}

.footer__copyright-info {
  padding: 1em 1em 1em 1em;
}

.footer__socials {
  padding: 0 1em 1em 1em;
  display: grid;
  grid-auto-flow: column;
  list-style-type: none;
}

.socials-img {
  width: 30px;
  transition: all 0.3s ease-in-out 0s;
}

.socials-img:hover {
  background: lightcoral;
  border-radius: 50%;
}

.footer__contact-info {
  padding: 1.5em 0 1.5em 0;
}

@media (min-width: 750px) {
  .footer {
    display: grid;
    justify-items: center;
  }
  .footer__socials {
    width: 250px;
  }
}

/* ================= */
/* about page */
/* ================= */

.about-me-main {
  margin: 6vh 0 0 0;
  padding: 1em 4em;
}

.about-me-article {
  padding-top: 1em;
}

.about-me-article > p {
  padding-top: 1em;
}

.about-me-article > h3 {
  padding-top: 0.75em;
}

@media (min-width: 750px) {
  .about-me-main {
    padding: 2em 10em;
  }
}

@media (min-width: 1500px) {
  .about-me-main {
    display: grid;
    margin: 0 auto;
    padding: 8vh 10em;
    align-items: center;
    justify-items: center;
    width: 1000px;
  }
}
